<h1>みんなの価値観一覧</h1>

<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>あなたの価値観</th>
        </tr>
    </thead>
    <tbody>
        <% @values.each do |value| %>
            <tr>
                <th><%= value.title %></th>
                <th><%= value.content %></th>
            </tr>
        <% end %>
    </tbody>
    
</table>
